body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #02040a;
  color: #ffffff;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

#root {
  width: 100%;
  min-height: 100vh;
  background-color: #02040a;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #02040a;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 5px;
}
