/* src/index.css */

/* 1. RESET GLOBAL & WARNA DASAR (Solusi Masalah Area Putih) */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* Memaksa background browser jadi Biru Gelap */
  background-color: #02040a !important;
  color: #ffffff;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

#root {
  width: 100%;
  min-height: 100vh;
  /* Pastikan root juga background gelap */
  background-color: #02040a !important;
}

/* 2. Scrollbar Keren (Opsional) */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #02040a;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 5px;
}
